@import url('https://fonts.googleapis.com/css2?family=Alata&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #213555;
    --cor-secundaria: #F5EFE7;
    --cor-terciaria: #D8C4B6;
    --cor-hover: #4F709C;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Monserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho_menu{
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apr{
    padding: 7% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apr_cont{
    margin-bottom: 9%;
    width: 615px;
    height: 438px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apr_cont_tit{
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.titulo_destaque{
    color: var(--cor-terciaria);
}

.apr_cont_txt{
    font-size: 20px;
    font-family: var(--fonte-secundaria);
}

.apr_link{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apr_link_links{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    border: 1px solid var(--cor-terciaria);
}

.apr_link_links:hover{
    background-color: var(--cor-hover);
}

.apr_link_sub{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}

